html,body{
    height: 100vh;
    width: 100vw;
    background-image: url(images/abstract-background.jpg);
    background-position: 0% 9%;
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-link .navbar-brand{
    color: black !important;
}

.navbar-brand{
    font-size: 3vh !important;
}

.nav-link{
    font-size: 3vh;
}

hr{
    color: aliceblue;
    size: 5px;
}

.content{
    margin-top: 17vw;
    margin-bottom: 35;
}



